body {
    font-family: Helvetica;
    font-size: 15px;
	/* background-color: white; /* For browsers that do not support gradients */
	/* background-image: linear-gradient(to right, white , #fff9e5); */ 
}

.grid-container form{
    display: flex;
    flex-direction: row;
}
.grid-container form label{
    display: block;
    padding: 10px;
    font-family: Helvetica;
    font-size: 15px;
}
.grid-container form label input{
    padding: 5px 5px 5px 5px;
}

/* new */

.input {
    font-size: 20px;
}

.main-title {
	font-family: Acme;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
}

.style-viz {
    width: 600px;
    text-align: right;
    border: 3px dashed #b1bbc9; 
    height: 390px; 
}

.sub-block-in { 
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.download_block {
    width: 50px;
    float: left;
    margin-right: 50px;
}

fieldset {
    margin: 10px;
    margin-left: 230px;
    font-size: 20px; 
    font-family: Andada; 
    border: 3px double lightsalmon;
    width: 1300px;
}

fieldset legend {
    font-weight: bold;
    font-family: 'Allerta Stencil';
}

.border_field {
    border: 10px double lightsalmon;
}

.classify-button {
    margin-top:20px; 
    padding: 10px 20px; 
    background-color: lightsalmon; 
    font-weight: bold; 
    font-size:20px;
}

.sub-block-out { 
    width: 1000px;
    margin-top: 10px;
}

.download-box {
    width: 150px;
    float: left;	
    margin-right: 50px;
}